div#content {
	width: auto; margin-right: 100px;
}

div#content > h2 {
	background: rgb(234, 242, 245); margin: -6px -10px 10px; padding: 12px 20px; color: rgb(68, 68, 68); letter-spacing: -1px; border-top-color: white; border-bottom-color: rgb(174, 204, 215); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-left-radius: 8px; border-top-right-radius: 8px; text-shadow: 0px 1px white; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px;
}


#content {
	background: rgb(255, 255, 255); border-radius: 8px; border: 1px solid silver; border-image: none; box-shadow: 0px 3px 5px rgba(0,0,0,0.05); -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); -moz-border-radius: 8px; -webkit-border-radius: 7px; -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

div#content {
	width: 100%;
}

.box h3 {
	background: rgb(52, 152, 219) !important; padding: 5px 20px !important; color: rgb(255, 255, 255); text-transform: capitalize;
}

.box {
	padding: 16px; border-radius: 8px; background-color: rgb(252, 252, 252); -moz-border-radius: 8px; -webkit-border-radius: 8px;
}

table.list {
	border: 1px solid rgb(228, 228, 228); border-image: none; width: 100%; margin-bottom: 4px; border-collapse: collapse;
}
table.list th {
	padding: 4px; white-space: nowrap; background-color: rgb(238, 238, 238); /*테이블 컬럼의 바탕색*/
}
table.list td {
	padding-right: 10px;
}

/* 테이블 내용의 테두리 색 지정 */
table.list tbody td {
	border: 1px solid rgb(215, 215, 215); border-image: none;
}

/* 테이블에 마우스 올려놓을시 상단 제외한 테두리 색 */
table.list tbody tr:hover td {
	border: 1px solid rgb(115, 215, 215); border-image: none;
}
/*테이블 컬럼의 테두리 색 지정*/
table.list thead th {
	border: 1px solid rgb(215, 215, 215);
}

table.list td {
	padding: 5px;
}

/* 테이블에 마우스 올려놓을시 */
table.list tbody tr:hover {
	background-color: rgb(255, 255, 255);
}


